$font-family: "Montserrat", sans-serif;
$font-logo: "Caveat", cursive;

$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

$color-dark-blue: #000a12;
$color-blue: #1a76f8;
$color-light-blue: #99c2fc;
$color-red: #ff1a1a;
$color-yellow: #f8cf45;
$color-white: #fff;
$color-black: #000;
