@use "../../../sass/index" as *;

.posters {
  position: relative;

  .swiper {
    width: 100%;
    margin: 0;
    position: absolute;
  }

  &__item {
    width: 15rem;
    height: 10rem;

    background-position: center;
    background-repeat: no-repeat;
    background-size: 120%;

    opacity: 0.9;
    border-radius: 0.75rem;

    transition: background-size 0.5s ease-in-out, opacity 0.5s ease-in-out;

    &:hover {
      background-size: 135%;
      opacity: 1;
    }
  }
}
