@use "../sass/index" as *;

@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

::-webkit-scrollbar {
  width: 5px;
  height: 3px;
}
::-webkit-scrollbar-track {
  background: $color-dark-blue;
  box-shadow: inset 0 0 3px grey;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient($color-light-blue, $color-blue);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: $color-red;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;

  @include tablet {
    font-size: 85%;
  }

  @include mobile {
    font-size: 72%;
  }

  scroll-behavior: smooth;
}

body {
  font-family: $font-family;
  font-weight: 400;
  line-height: 1.5;

  background-color: $color-dark-blue;
  color: $color-white;
}

h1,
h2,
h3,
h4 {
  letter-spacing: 0.5px;
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
}
li {
  list-style-type: none;
}
img,
video {
  display: block;
  width: 100%;
}
button,
input,
textarea,
select {
  font: inherit;
  outline: 0;
}

.button {
  border: 0;
  padding: 0.35rem 1rem;
  font-size: 1.15rem;
  font-weight: 400;
  cursor: pointer;
  border-radius: 0.25rem;
  transition: background 0.5s ease;
}

.button-primary {
  background: $color-blue;
  color: white;
}
.button-primary:hover {
  background: $color-red;
}
.button-alternate {
  background: $color-black;
  color: $color-white;
  border: 1px solid $color-white;
}

.button-secondary {
  background: transparent;
  color: $color-white;
  border: 1px solid $color-white;
}
.button-secondary:hover {
  background: $color-white;
  color: $color-black;
}
.button-alternate:hover {
  background: $color-white;
  color: $color-black;
}
